{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Création d'un nouveau lieu{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/lieu.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}

{% block body %}
    {{ include('lieu/_form.html.twig', {'form_title' : 'Nouveau lieu', 'button_label': 'Créer ce lieu !'}) }}

    <a href="{{ path('app_lieu_index') }}"><< Retourner à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/autocomplete.js') }}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}
