{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/sortie.css') }}">
{% endblock %}

{% block title %}Créer une Sortie{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Créer une nouvelle Sortie</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post">
        {{ form_start(sortieForm) }}

        <div class="form-group">
            {{ form_label(sortieForm.nom) }}
            {{ form_widget(sortieForm.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.dateHeureDebut) }}
            {{ form_widget(sortieForm.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.duree) }}
            {{ form_widget(sortieForm.duree, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.dateLimiteInscription) }}
            {{ form_widget(sortieForm.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.nbInscriptionsMax) }}
            {{ form_widget(sortieForm.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.infosSortie) }}
            {{ form_widget(sortieForm.infosSortie, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.lieu) }}
            {{ form_widget(sortieForm.lieu, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.site) }}
            {{ form_widget(sortieForm.site, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.organisateur) }}
            {{ form_widget(sortieForm.organisateur, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(sortieForm.participants) }}
            {{ form_widget(sortieForm.participants, {'attr': {'class': 'form-check'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(sortieForm) }}
    </form>
</div>
{% endblock %}
