{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/sortie.css') }}">
{% endblock %}

{% block title %}Liste des Sorties{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des Sorties</h1>
    
    <p>
        <a href="{{ path('app_sortie_creation') }}" class="nav-link">Créer une sortie</a>
    </p>
    
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Durée</th>
                <th>Lieu</th>
                <th>Organisateur</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.duree }} min</td>
                    <td>{{ sortie.lieu.nom }}</td>
                    <td>{{ sortie.organisateur.nom }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune sortie disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
