{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/sortie.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/showVille.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> }
{% endblock %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="page-ville">
    <h1>Ville</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
        </tbody>
    </table>
        <div class="btn-container">
            <a href="{{ path('app_ville_index') }}" class="btn-action"><i class="fas fa-fw fa-arrow-left"></i></a>
            <a href="{{ path('app_ville_edit', {'id': ville.id}) }}" class="btn-action"><i class="fas fa-fw fa-edit"></i></a>
            {{ include('ville/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
